* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(169, 142, 178, 0.8) 64.49999809265137%,
    rgba(201, 141, 168, 0.68) 100%
  );
  background-attachment: fixed;
  background-size: 2000;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 500vh; 
}

header {
  background-color: #A98EB2;
  color: white;
  display: flex;
  height: 85px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

header .logo img {
  width: 200px;
  height: auto;
  margin-right: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  cursor: pointer;
  grid-gap: 20x;
  margin-left:auto;
  width: max-content;
  justify-content:  flex-start, left;
  text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
  margin-left: 10px;
  justify-content: flex-start; 
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  position: relative;
  transition: all 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
  width: 40px; /* Ukuran lingkaran */
  height: 40px; /* Ukuran lingkaran */
  border-radius: 50%; /* Membuat sudut menjadi lingkaran */
  overflow: hidden; /* Memastikan gambar tidak keluar dari lingkaran */
}

.profile-circle {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Agar gambar sesuai dengan lingkaran */
}

.user-profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.username {
  color: white;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-content.visible {
    display: block;
    right: 10px;
    margin-top: 15px;
    border-radius: 5%;
  }
  