main{
  margin-top: 100px;
    padding: 24px;/* Memberikan ruang di sekitar elemen main */
    max-width: 80%; /* Membatasi lebar main agar tidak terlalu lebar */
    background-color: #D0C1D5; /* Warna mauve */
    border-radius: 20px; /* Membuat sudut melengkung */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  
}

  
  .reservasi-container{
    padding: 100px ;
      max-width: 80%; /* Membatasi lebar main agar tidak terlalu lebar */
      background-color: #D0C1D5; /* Warna mauve */
      border-radius: 20px; /* Membuat sudut melengkung */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
    }
  
    .title-bar  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  h2{
    font-size: 24px;
    margin-bottom: 16px;
    color: black;
  }
  
  button {
    padding: 8px 12px;
    background-color: #A98EB2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    color: black;
  }
  
  table th, table td {
    text-align: left;
    padding: 12px;
  }

  .modal-content{
    padding: 24px;/* Memberikan ruang di sekitar elemen main */
    max-width: 80%; /* Membatasi lebar main agar tidak terlalu lebar */
    background-color: #D0C1D5; /* Warna mauve */
    border-radius: 20px; /* Membuat sudut melengkung */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  }
  
  
  

