
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #d5a7f7, #f7b3b3);
  }
  
  /* Login Page Styles */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .logo-container {
    margin-bottom: 50px;
  }
  
  .logo {
    width: 450px;
    height: auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border-radius: 950px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 39px;
    font-size: 16px;
  }
  
  .form-input:focus {
    border-color: #ff69b4;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
  }
  
  .password-container {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
  
  .login-button {
    background-color: #ff69b4;
    position: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #d78ba6;
  }
  
  .register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .register-link a {
    color: #ff69b4;
    font-weight: bold;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
/* Success Message */
.success-message {
    margin-top: 15px;
    color: green;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* Error Message */
.error-message {
    margin-top: 15px;
    color: red;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
