/* styles/signup.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #d5a7f7, #f7b3b3);
  }
  
  .signup-page {
    position: relative; /* Memungkinkan penempatan relatif untuk logo */
    padding: 20px; /* Tambahkan padding untuk memberi ruang di sekitar konten */
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Menyelaraskan konten ke kiri */
    justify-content: center; /* Mengatur konten di bagian atas */
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .logo-container {
    position: absolute; /* Mengatur posisi logo secara absolut */
    top: 20px; /* Jarak dari atas */
    left: 20px; /* Jarak dari kiri */
  }
  
  .logo {
    width: 200px; /* Atur lebar logo sesuai kebutuhan */
    height: auto; /* Pastikan aspek rasio tetap */
  }
  
  .signup-form {
    display: flex;
    flex-direction: column; /* Atur input dalam kolom */
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .form-input:focus {
    border-color: #f7b3b3;
    outline: none;
    box-shadow: 0 0 4px rgba(247, 179, 179, 0.5);
  }
  
  .signup-button {
    background-color: #ff69b4; /* Warna tombol diubah menjadi pink cerah */
    padding: 10px 250px;
    margin-top: 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-button:hover {
    background-color: #d78ba6; /* Warna saat hover */
  }
  
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .eye-icon {
    position: absolute;
    top: 45%;
    right: 30px;
    transform: translateY(-50%);
  }